[id*="convenio"] {
    background-size: cover;
}
/*Convênio 01 Enchente*/
article#convenioGovSc1352288 {background-image:url(../images/fotos/convenioGovSc1352288-foto001-sm.jpg);}
/*Convênio 02 Moradia*/
article#convenioGovBr1425823 {background-image:url(../images/fotos/convenioGovBr1425823-foto001-sm.jpg);}
/*Convênio 03 Esgoto*/
article#convenioGovBr1749781 {background-image:url(../images/fotos/convenioGovBr1749781-foto001-sm.jpg);}


/*
article#convenioGovSc1352288 h2 {background-color:#f0f;}
article#convenioGovSc1352288  figure::after{content:url('img/convenioGovSc1352288-foto001-sm.jpg');}
*/

