<ion-view view-title="Educacao">
    <ion-nav-title>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar no Fiscal Digital" id="edtBusca">
        </label>
    </div>
        </ion-nav-title>
        <ion-content class="padding">
            <section>
                <article class="card" id="educacaoPublica">
                    <a href="#/tab/detalheEducacao/804393">
                        <header>
                            <h2>Educação Pública</h2>
                        </header>
                        <p>Juiz de Fora (MG)</p>
                        <span class="icon-money"><figure></figure><p>22% orcamento</p></span>
                        <span class="icon-clock"><figure></figure><p>Atrasado - 0 dias</p></span>
                    </a>
                </article>
            </section>
        </ion-content>
</ion-view>