<ion-view view-title="Estrada">
    <ion-nav-title>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Pesquisar no Fiscal Digital" id="edtBusca">
            </label>
        </div>
    </ion-nav-title>
    <ion-content class="padding">
        <section>
            <article class="card" id="obrasRodovias">
                <a href="#/tab/detalheEstrada/787165">
                    <header>
                        <h2>Obras em Rodovias</h2>
                    </header>
                    <p>Lagoa Formosa (MG)</p>
                    <span class="icon-money"><figure></figure><p>44% orcamento</p></span>
                    <span class="icon-clock"><figure></figure><p>Atrasado - 0 dias</p></span>
                </a>
            </article>
        </section>
    </ion-content>
</ion-view>